body{
	background-color: #d1d1d1;
}
.backwall{
	width: 	1280px;
	height: 2300px;
	background-color: #fff;
}
.header{
	width: 1070px;
	font-size: 26px;
}
.friend{
	text-align: center;
}
.content{
	width: 850px;
	margin-left: auto;
	margin-right:auto; 
}
.wrap{
	width: 1070px;
	height: 650px;
	margin-left: auto;
	margin-right: auto;
}
.main{
	float: left;
	margin-left:10px;
	width: 510px;
	font-size: 26px;
}
.sidebar{
	float: right;
	width: 510px;
	font-size: 26px;
}
.sidetext{
	width: 400px;
}
.button{
	height: 50px;
	width: 510px;
	background-color: red;
	border: 1px solid red;
	border-radius: 7px;
	text-align: center;
	font-weight: bold;
	padding-top: 15px; 
}
.callback{
	text-decoration: none;
	color: #fff;
}
.bottom{
	width: 1070px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 26px;
}
.left{
	float: left;
	width: 320px;
	height: 426px;
}
.center{
	display: inline-block;
	margin-left: 50px;
	margin-right: auto;
	width: 320px;
	height: 426px;
}
.right{
float: right;
width: 320px;
height: 426px;
}
.smalltext{
	width: 280px;
}
.button2{
height: 50px;
width: 320px;
background-color: red;
border:1px solid red;
border-radius: 7px;
text-align: center;;
font-weight: bold;
padding-top: 15px;
}
.footer{
	width: 1070px;
	margin-top: 40px;
	font-size: 26px;
	font-weight: lighter;
}
.button3{
	height: 50px;
	width: 600px;
	background-color: red;
	border: 1px solid red;
	border-radius: 7px;
	text-align: center;
	font-weight: bold;
	padding-top: 15px;
	margin-left: auto;
	margin-right: auto;
}
.footertext{
	width: 350px;
}