body{
	margin: 0;
	padding: 0;
	background: #d1d1d1;
}

.container{
	width: 640px;
	margin: 60px auto;
	background: #fff;
}

img{
	width: 100%;
}

.main{
	padding: 50px;
}

.text-center{
	text-align: center;
}

.half-col, .third-col{
	width: 255px;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

.third-col{
	width: 160px;
}

.third-col p{
	min-height: 72px;
}

.marginr-0{
	margin-right: 0;
}

button{
	width: 100%;
	border-radius: 5px;
	background: #cf5b4e;
	color: #fff;
	text-align: center;
	border: 1px solid #cf5b4e;
	font-weight: 900;
	padding: 10px;
	height: 40px;
}

.cl-white{
	color: #fff;
	margin-bottom: 20px;
}

.cl-white a{
	color: #fff;
}
.facebook{
	margin-top: 50px;
}


